.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.container button {
    height: 40px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;
}

.container .save {
    background-color: var(--colormain) !important;
    color: var(--colorsekunder) !important;
}

.container .save:hover {
    background-color: var(--hovercolormain) !important;
}

.atas {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: var(--max-width);
    background-color: var(--colorsekunder);
    position: sticky;
    top: 0;
    z-index: 1999;
}

.atas .kiri {
    font-weight: 1000;
}

.atas .kanan {
    display: flex;
    gap: 10px;
    align-items: center;
}




.dalamcontainer {
    width: var(--max-width);
    font-size: 0.7rem;
}

.bawah {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.bawah .judul {
    padding: 10px 20px;
    font-weight: 500;
}

.bawah .isi {
    padding: 20px
}



.bawah .labeltag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorbggreyutama);
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 70px;
}

.bawah .labeltag:hover {
    transition: all ease 0.2s;
    background-color: var(--colorbggreyutama);
}

.bawah .productImage {
    width: 30%;
    background-color: var(--colorsekunder);
    border-radius: var(--border-radius);
    /* height: 500px !important; */
    height: fit-content !important;
    position: sticky;
    top: 90px;
}

.bawah .productImage .isi {
    font-size: 0.6rem !important;
}

.bawah .judulsamping {
    padding: 10px 0;
}

.bawah .detail {
    width: 735px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorsekunder);
    border-radius: var(--border-radius);
}

.bawah .tag {
    display: flex;
    flex-direction: column;
}


.bawah .tag label {
    margin-bottom: 5px;
    display: flex;
}

.bawah .tag input {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
}

.bawah textarea {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
    height: 130px;
}

.satubaris {
    display: flex;
    gap: 10px;
}

.bariskan {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tambahkategoriklik {
    font-weight: 700;
}

.tambahkategoriklik:hover {
    font-weight: 800;
    cursor: pointer;
}

.bariskankategori {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tambahkategori {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorsekunder);
    border: 2px solid var(--colorthrid);
    z-index: 999;
    border-radius: var(--border-radius);
    padding: 5px;
}

.ataskategori {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.closekategori {
    font-weight: 700;
    width: 20px;
    cursor: pointer;
}


.bawah select {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
}

.bawah .detail .isi {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}


.bawah input {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
}

.bawah .detail .isi label {
    margin-bottom: 5px;
    display: flex;
}

.yesno {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* background-color: var(--colorsekunder); */
}

.yesno .tombol {
    background-color: var(--colormain);
    color: var(--colorsekunder);
    padding: 3px;
    border-radius: var(--border-radius);
    font-weight: 500;
}

.yesno .tombol:hover {
    background-color: var(--hovercolormain);
    cursor: pointer;
}

.tombolhapus {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    border: none;
    font-size: 0.5rem;
    cursor: 'pointer';
    width: fit-content !important;
    height: 20px !important;
    padding: 0 10px !important;
}

.red {
    border: 2px solid var(--colormain) !important;
}


.bgblack {
    position: absolute;
    top: 0;
    background-color: var(--colormain);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.gambarnew {
    width: 110px;
    height: 100px;
    border: 1px solid var(--colorthrid);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.listgambar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.previewImage {
    width: 110px;
    height: 100px;
}

.deleteButton {
    width: 100%;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.deleteButtonutama {
    width: 100%;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.gambarutama {
    width: 100%;
    height: 200px;
    border: 1px solid var(--colorthrid);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.previewImage {
    width: 110px;
    height: 100px;
}

.previewImageUtama {
    width: 100%;
    height: 200px;
}