.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.container button {
    height: 40px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;
}

.container .save {
    background-color: var(--colormain) !important;
    color: var(--colorsekunder) !important;
}

.container .save:hover {
    background-color: var(--hovercolormain) !important;
}

.atas {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: var(--max-width);
    background-color: var(--colorsekunder);
    position: sticky;
    top: 0;
    z-index: 1999;
}

.atas .kiri {
    font-weight: 1000;
}

.atas .kanan {
    display: flex;
    gap: 10px;
}




.dalamcontainer {
    width: var(--max-width);
    font-size: 0.7rem;
}

.bawah {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.bawah .judul {
    padding: 10px 20px;
    font-weight: 500;
}

.bawah .isi {
    padding: 20px
}

.bawah .labeltag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorbggreyutama);
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 70px;
}

.bawah .labeltag:hover {
    transition: all ease 0.2s;
    background-color: var(--colorbggreyutama);
}

.bawah .productImage {
    width: 30%;
    background-color: var(--colorsekunder);
    border-radius: var(--border-radius);
    /* height: 500px !important; */
    height: fit-content !important;
    position: sticky;
    top: 90px;
}

.bawah .productImage .isi {
    font-size: 0.6rem !important;
}

.bawah .judulsamping {
    padding: 10px 0;
}

.bawah .detail {
    width: 735px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorsekunder);
    border-radius: var(--border-radius);
}

.bawah .tag {
    display: flex;
    flex-direction: column;
}


.bawah .tag label {
    margin-bottom: 5px;
}

.bawah .tag input {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
}

.satubaris {
    display: flex;
    gap: 10px;
}

.bariskan {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bawah .detail .isi {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}


.bawah .detail .isi input {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--colorbggreyutama);
    margin-bottom: 10px;
}

.bawah .detail .isi label {
    margin-bottom: 5px;
}