.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.dalamcontainer {
    width: var(--max-width);
    font-size: 0.7rem;
}

.atas {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: var(--max-width);
    background-color: var(--colorsekunder);
    position: sticky;
    top: 0;
    z-index: 99;
}

.atas .judul {
    font-weight: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.atas .judul:hover {
    opacity: 0.9;
}

.atas .judulkanan {
    font-weight: 700;
}

.atas .search {
    border: 1px solid var(--colorthrid);
    border-radius: var(--border-radius);
    padding: 1px;
    display: flex;
}

.atas .search input {
    padding: 10px;
}

.atas .search input:focus {
    border: transparent;
    outline: 0;
}

.atas .search .searchB {
    height: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 700;
}

.atas .searchP {
    height: 40px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 700;
}

.atas button {
    background-color: var(--colorbggreyutama);
}

.atas button:hover {
    background-color: var(--hovercolorbggreyutama);
}



.producttable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
}

.producttable th,
.producttable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.producttable th {
    background-color: #f4f4f4;
}

.producttable td:nth-child(6) {
    text-align: center;
}

.producttable td:nth-child(7) {
    text-align: center;
    cursor: pointer;
    color: var(--colormain);
    width: 15px;
}

.producttable td:nth-child(1) {
    cursor: pointer;
}

.producttable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.producttable tr:hover {
    background-color: #f1f1f1;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


/* UPDATE */
.bghitam {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--colorthrid);
    opacity: 0.7;
    z-index: 999;
}


.containerupdate {
    position: absolute;
    top: 50px;
    width: var(--max-width);
    height: 80vh;
    background-color: var(--colorsekunder);
    z-index: 1000;
    border-radius: var(--border-radius);
    padding: 0 50px 50px 50px;
    overflow: hidden;
}

.containerupdate:hover {
    overflow-y: scroll;
}


/* LOADING */

.loading {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.loading .kotak {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--colorsekunder); */
    font-size: 2rem;
    font-weight: 1000;
}


.hasilpencarian {
    margin-top: 10px;
}


.ataskanan {
    display: flex;
    gap: 10px;
    align-items: center;
}